{
	///////////////////////////////////////////////////////////////////////
	// These are the default settings that can be overridden
	///////////////////////////////////////////////////////////////////////
	
	// "applicationName": "TugDSC.Server",
	// "environment": "PRODUCTION",
	// "captureStartupErrors": "false",
	// "contentRoot": ".",
	// "detailedErrors": "false",
	// "urls": "http://*:5000"

}