<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- Define various log targets -->
  <targets>
    <target xsi:type="ColoredConsole" name="console"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}">
            <!--
            encoding="Encoding"
            header="Layout"
            footer="Layout"
            useDefaultRowHighlightingRules="Boolean"
            errorStream="Boolean"
            detectConsoleAvailable="Boolean">
      <highlight-row backgroundColor="Enum" condition="Condition" foregroundColor="Enum"/>
      <highlight-word backgroundColor="Enum" foregroundColor="Enum" ignoreCase="Boolean"
                      regex="String" text="String" wholeWords="Boolean" compileRegex="Boolean"/>
            -->
    </target>

    <!--
      - We define these to output to files under the
      - _IGNORE path so that they are ignored by Git
      -->

    <!-- Write logs to file(s) -->
    <target xsi:type="File" name="allfile" fileName="${environment:variable=TUG_RT_STARTDIR}/_IGNORE/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="ownFile-web" fileName="${environment:variable=TUG_RT_STARTDIR}/_IGNORE/nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception:format=tostring}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
  
</nlog>